<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
<h2>One on One: ngrx/store</h2>

<ul>
  <li>
    Subjects
    <ul>
      <li>Create Subject</li>
      <li>Connect two subscriptions</li>
      <li>Publish 2 values</li>
    </ul>
  </li>
  <li>
    Dispatcher
    <ul>
      <li>Write interface for Action</li>
      <li>Extend Dispatcher class with Subject</li>
      <li>Create new Dispatcher</li>
      <li>Create two subscriptions to Dispatcher</li>
      <li>Dispatch two actions</li>
    </ul>
  </li>
  <li>
    Store (Subject)
    <ul>
      <li>Extend FirsStore class with Subject</li>
      <li>Add two subscriptions</li>
      <li>Publish value to FirstStore</li>
      <li>Create on more subscription</li>
    </ul>
  </li>
  <li>
    Store (BehaviorSubject)
  </li>
  <li>
    Store with Dispatcher
  </li>
  <li>
    Reduce
  </li>
  <li>
    Reducer
  </li>
  <li>
    Scan
  </li>
  <li>
    Aggregation with Scan (Store)
  </li>
  <li>
    Slice state
  </li>
  <li>
    Distinct
  </li>
  <li>
    Let
  </li>
  <li>
    Middlewares
  </li>
</ul>
</body>

</html>